* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #08080b;
    color: #787c99;
}

#workspaces button {
    padding: 0 10px;
    color: #787c99;
}

#workspaces button.active {
    background-color: #7aa2f7;
    color: #08080b;
}

#clock, #battery, #wireplumber, #tray {
    padding: 0 10px;
    margin: 0 4px;
    color: #787c99;
}

#bluetooth.connected { color: #7aa2f7; }
#battery.warning { color: #e0af68; }
#battery.critical { color: #f7768e; }
